<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yongan.dadawork"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="10" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />

    <application
        android:name="com.yongan.dadawork.activity.OurApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.yongan.dadawork.activity.LoaderActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
               <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.yongan.dadawork.activity.UpdateActivity"
            android:label="版本升级"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.yongan.dadawork.activity.seach.SeachActivity"
            android:label="产品查询"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.yongan.dadawork.activity.RegisterActity"
            android:label="注册界面"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
         
        </activity>
        <activity
            android:name="com.yongan.dadawork.activity.IndexActivity"
            android:label="首页"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.yongan.dadawork.activity.LoginActivity"
            android:label="用户登录"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.yongan.dadawork.activity.chanpin.ChanPinActivity"
            android:label="产品列表 \u0020\u0020\u0020单击可上传到微信"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.yongan.dadawork.activity.chanpin.GalleryActivity"
            android:label="产品详情"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.yongan.dadawork.activity.MainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.yongan.dadawork.activity.userinfo.UserInfoActivity"
            android:label="用户信息"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.yongan.dadawork.activity.source.SourceActivity"
            android:label="资源导航"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.yongan.dadawork.activity.source.SourceListActivity"
            android:label="资源导航"
            android:screenOrientation="portrait" />
    </application>

</manifest>